.venv/
.pytest_cache/
__pycache__/
**/__pycache__/
*.py[cod]
*.log

data/*
!data/.gitkeep
!data/cache/
data/cache/*
!data/cache/embeddings/
!data/cache/images/
data/cache/embeddings/*
data/cache/images/*
!data/cache/embeddings/.gitkeep
!data/cache/images/.gitkeep

model_cache/*
!model_cache/.gitkeep
